@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
}
.page__title {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 1vh;
  -moz-column-gap: 0.5vh;
       column-gap: 0.5vh;
}
.page__logo {
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  background: #E2CECE;
  border: 0.5vh solid #741D1D;
  box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
  filter: blur(0.4vh);
}
.page__logo-text {
  font-family: "Roboto";
  font-size: 3vh;
  line-height: 1vh;
  font-weight: 700;
  color: #C02F2F;
  position: absolute;
  left: 1.5vh;
  top: 4.5vh;
}
.page__title-text {
  font-family: "Roboto";
  font-size: 3vh;
  line-height: 1vh;
  font-weight: 700;
  color: #FFFFFF;
}
.page__menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 1vh;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 1vw;
  padding-left: 1vw;
}
.menu__item {
  font-family: "Roboto";
  font-size: 2vh;
  line-height: 2.2vh;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), #1D3253;
  opacity: 0.65;
  border-radius: 2vh;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.menu__item:link, .menu__item:visited {
  color: #ffffff;
  text-decoration: none;
}
.menu__item:hover {
  opacity: 1;
}
.menu__item_disabled {
  opacity: 0.2;
}
.menu__item_disabled:hover {
  opacity: 0.2;
  cursor: default;
}
.menu__item_active {
  cursor: default;
  opacity: 1;
}

.footer-info {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  background-color: #172842;
  opacity: 0.95;
  border-radius: 4vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 98vw;
  min-width: 8vh;
  padding: 1vh 1vh;
  box-sizing: border-box;
  z-index: 100;
}
.footer-info__panel {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 4vh;
}
.footer-info__button, .footer-info__button:link, .footer-info__button:visited {
  font-family: "Roboto";
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: #0D6AF4;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  right: 2vh;
  top: 2vh;
}
.footer-info__button_hidden {
  display: none !important;
}
.footer-info__button:hover {
  box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}
.footer-info__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100vw;
  margin-bottom: 4vh;
}
.footer-info__content_hidden {
  display: none;
}
.footer-info__text {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 400;
  color: #ffffff;
  padding: 1vh 2vw;
  text-overflow: ellipsis;
}
.footer-info__text b {
  font-weight: 600;
}
.footer-info__text a, .footer-info__text a:link, .footer-info__text a:visited {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.rules-block-one {
  display: grid;
  grid-template-columns: repeat(10, minmax(3.2vh, 3.2vw));
  grid-template-rows: repeat(10, minmax(3.2vh, 3.2vw));
  padding: 1vh 1vw;
}
.rules-block-one__element {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 25%;
  border-radius: 50%;
  background: rgba(253, 253, 253, 0.9);
}
.rules-block-one__element_rock {
  grid-area: 1/1/5/5;
}
.rules-block-one__element_paper {
  grid-area: 1/7/5/11;
}
.rules-block-one__element_scissors {
  grid-area: 7/4/11/8;
}
.rules-block-one__button {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 25%;
  border-radius: 25%;
  background-color: #0D6AF4;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.rules-block-one__button_start {
  grid-area: 4/4/7/8;
  z-index: 1;
}
.rules-block-one__button:hover {
  box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.rules-block-two {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  row-gap: 4vh;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.rules-block-two__title {
  font-family: "Roboto";
  font-size: min(6vw, 6vh);
  line-height: min(6.2vw, 6.2vh);
  font-weight: 400;
  width: min(50vw, 50vh);
  text-transform: uppercase;
}
.rules-block-two__title_rock {
  color: #C3B7B7;
}
.rules-block-two__title_paper {
  color: #FFFFFF;
}
.rules-block-two__title_scissors {
  color: #E92323;
}
.rules-block-two__list {
  background-color: #E8EAEE;
  border-radius: max(1vw, 1vh);
  padding-left: min(6vw, 6vh);
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.rules-block-two__list-item {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 300;
  color: #000000;
}
.rules-block-two__text-question {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.rules-block-two__text-question span {
  color: #F616D3;
}
.rules-block-two__buttons {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.rules-block-two__button, .rules-block-two__button:link, .rules-block-two__button:visited {
  font-family: "Roboto";
  font-size: min(7vw, 7vh);
  line-height: min(7.2vw, 7.2vh);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #2C7AF0;
  border-radius: 1vh;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh 1vw;
}
.rules-block-two__button:hover {
  box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.login-block-one {
  width: 90%;
  margin-left: 1vw;
  margin-right: 1vw;
}
.login-block-one__title {
  font-family: "Roboto";
  font-size: min(9vw, 9vh);
  line-height: min(9.2vw, 9.2vh);
  font-weight: 400;
  width: min(51vh, 51vw);
}
.login-block-one__title_gray {
  color: #8F8985;
}
.login-block-one__title_white {
  color: #E8EAEE;
}
.login-block-one__title_red {
  color: #DD5322;
}

.login-block-two {
  width: 90%;
  background: #172842;
  border-radius: max(1vw, 1vh);
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 5vh;
  padding: 5vh 1vw 6vh 1vw;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4vh;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.login-block-two__form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3vh;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.login-block-two__form-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5vh;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  margin-left: 2vw;
  margin-right: 2vw;
  box-sizing: border-box;
}
.login-block-two__form-item_row {
  flex-flow: row nowrap;
}
.login-block-two__form-label {
  font-family: "Roboto";
  font-size: min(3vw, 3vh);
  line-height: min(3.2vw, 3.2vh);
  font-weight: 400;
  color: #ffffff;
}
.login-block-two__form-input {
  font-family: "Roboto";
  font-size: min(4.5vw, 4.5vh);
  line-height: min(5vw, 5vh);
  font-weight: 400;
  color: #DD5322;
  outline: none;
  padding: 1vh 1vw;
  background: rgba(23, 40, 66, 0.6);
  border: max(0.3vw, 0.3vh) solid #2C7AF0;
  box-shadow: inset 0 1vh 1vw rgba(0, 0, 0, 0.25);
  text-shadow: 0.2vw 0.3vh min(0.1vw, 0.1vh) #000000;
  border-radius: max(1vw, 1vh);
}
.login-block-two__form-button {
  font-family: "Roboto";
  font-size: min(7vw, 7vh);
  line-height: min(7.2vw, 7.2vh);
  font-weight: 400;
  color: #ffffff;
  background: #2C7AF0;
  border-radius: max(1vw, 1vh);
  outline: none;
  border: none;
  padding: 1vh 5vw;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  align-self: center;
}
.login-block-two__form-button_hidden {
  display: none;
}
.login-block-two__form-button:hover {
  box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.lobby-block-one {
  width: 90%;
  height: 80%;
  margin-left: 1vw;
  margin-right: 1vw;
  background: #172842;
  border-radius: max(1vw, 1vh);
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min(8vw, 8vh) min(6vw, 6vh) calc(100% - min(14vw, 14vh) - 3vh);
}
.lobby-block-one__title {
  font-family: "Roboto";
  font-size: min(6vw, 6vh);
  line-height: min(6.2vw, 6.2vh);
  font-weight: 400;
  color: #E8EAEE;
  align-self: center;
}
.lobby-block-one__sort-by {
  font-family: "Roboto";
  font-size: min(3vw, 3vh);
  line-height: min(3.2vw, 3.2vh);
  font-weight: 400;
  color: #8F8985;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.lobby-block-one__sort-link, .lobby-block-one__sort-link:link, .lobby-block-one__sort-link:visited {
  padding: 0.5vh 1vw;
  background: #8F8985;
  color: #000000;
  border-radius: calc(min(3vw, 3vh) + 1vh);
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.lobby-block-one__sort-link_active {
  background: #E8EAEE !important;
}
.lobby-block-one__sort-link:hover {
  background: #E8EAEE;
}
.lobby-block-one__user-list {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  gap: min(1vh, 1vw);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 2vh;
  scrollbar-width: 32px;
}

.lobby-block-two {
  width: 90%;
  height: 80%;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  justify-items: center;
}
.lobby-block-two__player-detailed {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}
.lobby-block-two__buttons {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.lobby-block-two__button, .lobby-block-two__button:link, .lobby-block-two__button:visited {
  font-family: "Roboto";
  font-size: min(7vw, 7vh);
  line-height: min(7.2vw, 7.2vh);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #2C7AF0;
  border-radius: 1vh;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh 1vw;
  align-self: center;
}
.lobby-block-two__button:hover {
  box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.game-block-one {
  width: 90%;
  height: 90%;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min(6vw, 6vh) 1fr min(6vw, 6vh);
}
.game-block-one__scores {
  font-family: "Roboto";
  font-size: min(3vw, 3vh);
  line-height: min(3.2vw, 3.2vh);
  font-weight: 400;
  color: #ffffff;
  position: relative;
  left: 0;
  top: 0;
}
.game-block-one__text {
  text-transform: capitalize;
}
.game-block-one__wins-and-loses {
  font-family: "Roboto";
  font-size: min(2.5vw, 2.5vh);
  line-height: min(2.6vw, 2.6vh);
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: max(-5vw, -5vh);
  display: flex;
  flex-flow: row nowrap;
  gap: min(2vw, 2vh);
}
.game-block-one__wins {
  background: #31A559;
  min-width: min(3vw, 3vh);
  height: min(3vw, 3vh);
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.game-block-one__loses {
  background: #B13232;
  min-width: min(3vw, 3vh);
  height: min(3vw, 3vh);
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.game-block-one__field {
  display: grid;
  grid-template-columns: repeat(10, minmax(3vh, 3vw));
  grid-template-rows: repeat(10, minmax(3vh, 3vw));
  align-self: center;
  justify-self: center;
}
.game-block-one__element {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 25%;
  border-radius: 50%;
  background: #8F8985;
  position: relative;
}
.game-block-one__element_rock {
  grid-area: 1/1/5/5;
}
.game-block-one__element_paper {
  grid-area: 1/7/5/11;
}
.game-block-one__element_scissors {
  grid-area: 7/4/11/8;
}
.game-block-one__element_center {
  grid-area: 3/4/7/8;
  position: relative;
  left: 0;
  top: min(1.5vh, 1.5vw);
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.game-block-one__element_selected {
  background-color: #E8EAEE;
}
.game-block-one__title {
  display: flex;
  flex-flow: row nowrap;
  gap: min(3vw, 3vh);
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}
.game-block-one__title-text {
  font-family: "Roboto";
  font-size: min(6vw, 6vh);
  line-height: min(6.2vw, 6.2vh);
  font-weight: 400;
  color: #ffffff;
}
.game-block-one__waiter {
  width: min(9vw, 9vh);
  height: min(6vw, 6vh);
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.game-block-one__waiter-item {
  width: min(2vw, 2vh);
  height: min(2vw, 2vh);
  background-color: #ffffff;
}
.game-block-one__waiter-item_first {
  -webkit-animation: scale-size 1.5s ease-out 0s infinite alternate;
          animation: scale-size 1.5s ease-out 0s infinite alternate;
}
.game-block-one__waiter-item_second {
  -webkit-animation: scale-size 1.5s ease-out 0.5s infinite alternate;
          animation: scale-size 1.5s ease-out 0.5s infinite alternate;
}
.game-block-one__waiter-item_third {
  -webkit-animation: scale-size 1.5s ease-in-out 1s infinite alternate;
          animation: scale-size 1.5s ease-in-out 1s infinite alternate;
}

@-webkit-keyframes scale-size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes scale-size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}
.player {
  padding: 1vh 1vw;
  margin: 1vh 5vw;
  background-color: #ffffff;
  border-radius: min(2vh, 2vw);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: min(2vh, 2vw);
  transition: background-color 0.25s linear;
}
.player__logo {
  width: min(8vh, 8vw);
  height: min(8vh, 8vw);
  border-radius: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.player__letter {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  box-sizing: border-box;
  width: min(6vh, 6vw);
  height: min(6vh, 6vw);
  border-radius: min(4vw, 4vh);
  border: max(0.1vh, 0.1vw) solid #000000;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.player__infos {
  font-family: "Roboto";
  font-size: min(2vw, 2vh);
  line-height: min(2.2vw, 2.2vh);
  font-weight: 400;
  position: relative;
  gap: min(1vh, 1vw);
}
.player__info {
  padding: min(0.5vh, 0.5vw);
  border-radius: 50%;
}
.player__info_wins {
  position: absolute;
  left: max(-1vh, -1vw);
  top: 0;
  color: green;
}
.player__info_loses {
  position: absolute;
  left: max(-1vh, -1vw);
  bottom: 0;
  color: red;
}
.player__login {
  font-family: "Roboto";
  font-size: min(3vw, 3vh);
  line-height: min(3.2vw, 3.2vh);
  font-weight: 400;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player:hover {
  background-color: #E8EAEE;
}

.player-detailed {
  width: max(40vh, 40vw);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}
.player-detailed__title {
  font-family: "Roboto";
  font-size: min(6vw, 6vh);
  line-height: min(6.2vw, 6.2vh);
  font-weight: 400;
  width: 60%;
  color: #E8EAEE;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: center;
}
.player-detailed__wins-and-loses {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  gap: min(10vh, 10vw);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  white-space: nowrap;
}
.player-detailed__wins {
  color: green;
}
.player-detailed__loses {
  color: red;
}
.player-detailed__stats {
  display: grid;
  grid-template-columns: repeat(10, minmax(1.7vh, 1.7vw));
  grid-template-rows: repeat(10, minmax(1.7vh, 1.7vw));
}
.player-detailed__element {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 25%;
  border-radius: 50%;
  background: rgba(253, 253, 253, 0.9);
  position: relative;
}
.player-detailed__element_rock {
  grid-area: 1/1/5/5;
}
.player-detailed__element_paper {
  grid-area: 1/7/5/11;
}
.player-detailed__element_scissors {
  grid-area: 7/4/11/8;
}
.player-detailed__counter {
  font-family: "Roboto";
  font-size: min(3vw, 3vh);
  line-height: min(3.2vw, 3.2vh);
  font-weight: 400;
  width: min(4vw, 4vh);
  height: min(4vw, 4vh);
  border-radius: 50%;
  background-color: #2C7AF0;
  display: flex;
  position: absolute;
  right: max(-1.5vw, -1.5vh);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 7;
  width: calc(min(9vw, 9vh) + 1vh);
  height: calc(min(9vw, 9vh) + 1vh);
  stroke-width: min(1vw, 1vh);
  position: absolute;
  left: 0;
  top: 0;
}
.spinner__path {
  stroke: #93BFEC;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}
.spinner__container {
  position: relative;
  left: 0;
  top: 0;
  width: calc(min(9vw, 9vh) + 1vh);
  height: calc(min(9vw, 9vh) + 1vh);
  box-sizing: border-box;
}
.spinner__container_hidden {
  display: none;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.page {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 85vh 5vh;
  background: #1D3253;
}
.page__main {
  display: grid;
  overflow: hidden;
}
.page__main_one-column-two-rows {
  grid-template-columns: 1fr;
  grid-template-rows: 45vh 45vh;
}
.page__main_two-columns-one-row {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85vh;
}
.page__block-main {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.page__footer {
  box-sizing: border-box;
}
.page__title {
  font-family: "Roboto";
  font-size: min(4vw, 4vh);
  line-height: min(4.2vw, 4.2vh);
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */