@import "common/reset";
@import "common/fonts";

@import "page/header";
@import "page/menu";
@import "page/footer-info";

@import "screens/rules";

.page {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 5vh;
    background: #1D3253;

    &__main {
        display: grid;

        &_one-column-two-rows{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &_two-columns-one-row{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }

    &__block-main {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    
        &_one {
            
        }

        &_two {
            
        }
    }

    &__footer {
        box-sizing: border-box;
    }

    &__title {
        @include font(min(4vw, 4vh), min(4.2vw, 4.2vh), 400);
    }
}