@import "common/reset";
@import "common/fonts";

@import "page/header";
@import "page/menu";
@import "page/footer-info";
@import "page/modal";

@import "screens/rules";
@import "screens/login";
@import "screens/lobby";
@import "screens/game";

@import "entities/player";
@import "entities/detailed-player";

@import "widgets/spinner";

.page {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 85vh 5vh;
    background: #1D3253;

    &__main {
        display: grid;
        overflow: hidden;

        &_one-column-two-rows{
            grid-template-columns: 1fr;
            grid-template-rows: 45vh 45vh;
        }

        &_two-columns-one-row{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 85vh;
        }
    }

    &__block-main {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    &__footer {
        box-sizing: border-box;
    }

    &__title {
        @include font(min(4vw, 4vh), min(4.2vw, 4.2vh), 400);
    }

    &__modals {
        display: none;
    }

    &_disable {
        pointer-events: none;
    }
}