.lobby-block-one {
    width: 90%;
    height: 80%;
    margin-left: 1vw;
    margin-right: 1vw;
    background: #172842;
    border-radius: max(1vw, 1vh);
    margin-left: 1vw;
    margin-right: 1vw;
}

.lobby-block-two {
    width: 90%;
    height: 80%;
    margin-left: 1vw;
    margin-right: 1vw;
    background: #172842;
    border-radius: max(1vw, 1vh);
    margin-left: 1vw;
    margin-right: 1vw;
}