.rules {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;

    &__header {

        width:max-content;
        background-color: rgba(0, 0, 0, 0.1);
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    &__title {
        @include font(72px, 84px, 400);
        color: #ffffff;
    }

    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 16px;
        margin-right: 16px;
        column-gap: 16px;
    }

    &__img {
        border-radius: 20px;
        min-width: 300px;
    }

    &__list {
        @include font(40px, 46px, 400);
        color: #000000;

        padding-left: 64px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #ffffff;
        height: max-content;
        border-radius: 20px;
        min-width: 300px;
    }
}