@media (max-width: 1700px) {
    .page {

        &__header {
            min-height: 60px;
        }

        &__title {
            @include font(48px, 56px, 400);
        }

        &__menu-item {
            @include font(16px, 18px, 400);
            width: 120px;
        }

    }

    .rules {
        &__title {
            @include font(48px, 56px, 400);
        }

        &__columns {
            grid-template-columns: 1fr 300px;
        }

        &__list {
            @include font(16px, 18px, 400);
            padding-left: 32px;
            min-width: 250px;
        }
    }
}