.spinner {
    animation: rotate 2s linear infinite;
    z-index: 7;
    width: calc(min(9vw, 9vh) + 1vh);
    height: calc(min(9vw, 9vh) + 1vh);
    stroke-width: min(1vw, 1vh);
    position: absolute;
    left: 0;
    top: 0;

    &__path {
      stroke: #93BFEC;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }

    &__container {
      position: relative;
      left: 0;
      top: 0;
      width: calc(min(9vw, 9vh) + 1vh);
      height: calc(min(9vw, 9vh) + 1vh);
      box-sizing: border-box;
      &_hidden {
        display: none;
      }
    }
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
}
  